<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8">
    <title>The Daily Devin</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="header">
      <a class="logo" href="/">The Daily Devin</a>
      <div class="header-right">
        <a href="/">HOME</a>
        <a href="/about">About</a>
      </div>
    </div>

    {{#with this}}
    <div class="post-title">
        <b>
            Title: {{title}}
            <br>
            Date Posted: {{date}}
        </b>
    </div>
    {{/with}}

    <div class="post-content">
    {{{body}}}
    </div>

  </body>
</html>
<script src="/js/index.js"></script>
