<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8">
    <title>The Daily Devin</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="header">
      <a class="logo">The Daily Devin</a>
      <div class="header-right">
        <a>HOME</a>
        <a>About</a>
      </div>
    </div>

    {{{body}}}

  </body>
</html>
<script src="/js/index.js"></script>
