<div class="container" style="margin-top: 2rem">
<body><h1>About</h1>
<hr />
<p>Hey, I&#39;m Devin and I&#39;m an upcoming software developer. The goal of this blog is to post about things im learning, and anything else
I might be interested in at the time. It gives me a chance to assess my own thoughts, and to put it on record. Anything
written is primarily for my personal use - I don&#39;t accept responsibility for any false or misleading information found
here.</p>
</body>
</div>
<div class="bgspan backdrop"></div>
<img class="bgspan" src="assets/workspace_background.jpg">
