<div class="about-content">
<p>
Hey, I'm Devin and I'm an upcoming software developer. The goal of this blog is to post about things im learning, and anything else
I might be interested in at the time. It gives me a chance to assess my own thoughts, and to put it on record. Anything
written is primarily for my personal use - I don't accept responsibility for any false or misleading information found
here.
</p>
</div>
