<form class="upload_form" method="POST" action="/upload" enctype="multipart/form-data">
  <label for="title">title</label>
  <input type="text" id="title" name="title">
  <br>

  <label for="meta_text">meta text</label>
  <input type="text" id="meta_text" name="meta_text">
  <br>

  <label for="img_path">img path</label>
  <input type="text" id="img_path" name="img_path">
  <br>

  <label for="file">Insert File</label>
  <input type="file" id="file" name="file">
  <br>

  <input type="submit" value="Submit">
</form>
