
.post-box {
  padding: 1rem;
  text-align: center;
  background-color: #9c8a89;
}

/* background image */
.bgspan {
/* Set rules to fill background */
min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;

z-index: -2;
}

/* text backdrop */
.backdrop {
  background-color: #ebdddd;
  width: 80%;
  left: 10%;
  z-index: -1;
}
/* text backdrop */

/* sticky footer */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dsfooter {
  margin-top: auto;
}
/* sticky footer footer */

/* button */
.dsbutton {
  position: fixed;
  top: 50%;
  left: 45%;
}


/* font */
div.md-container h1 { color: #d04764; font-family: 'Lobster', cursive; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
div.md-container h2 { color: #2CA4B0; font-family: 'Oleo Script', cursive; font-size: 24px; font-weight: normal; line-height: 32px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
div.md-container p { color: #333; font-family: 'Original Surfer', cursive; font-size: 16px; line-height: 28px; margin: 0 0 24px; }
div.md-container a { color: #d04764; font-family: 'Original Surfer', cursive; }
div.md-container a:hover { text-decoration: underline }
/* font */
