<p>
Node.js is a runtime environment that allows Javascript to be run on the server side. Node.js is used to serve files to many clients
on the web. What makes Node.js stand out in performance is that it operates on a single thread, as opposed to the many threads that are used on 
traditional web servers. This means there is less memory consumption and a lighter cpu load when working with Node.js. Even though Node.js is
single threaded, it still is very asynchronous in nature. It does this through an Event Loop. The event loop is responsible for 
sending anything that you want to be non-blocking to a separate lifo structure called the message queue. These processes are set aside until
everything on the current call stack is finished. Then the thread is free to work on these processes. A good programmer will make it a 
priority to code asynchronously so that web clients can be served quickly.
<p>
<p>
Express is a framework built on top of node.js. It is highly used and makes serving web pages very simple and hassle free. Everything that
express does can be done in Node.js; however, writing the same code in pure Node would take a hell of a lot longer. Use Express to save time.
</p>
<p>
Handlebars is a templating engine that can be used on the front and backend. You can install a library that makes handlebars work with express.
Doing so allows programmers to serve templated web pages. This means you don't have to hard code the same header in every html file. Also,
you can use handlebars to dynamically add data into html. Using handlebars adds many features that can be beneficial to anyone trying to
make a website.
</p>

